.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
}

.admin-card {
  width: 450px;
  background: #ffffff;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.admin-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
}

.admin-card label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 14px;
}

.admin-card input {
  width: 100%;
  padding: 13px 15px;
  border-radius: 14px;
  border: 1px solid #bfc7ff;
  outline: none;
  transition: 0.2s;
}

.admin-card input:focus {
  border-color: #3d4bf0;
}

.admin-btn  {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(90deg, #3d4bf0, #5563ff);
  color: white;
  font-size: 15px;
  cursor: pointer;
  
}
.admin-btn:hover{
   background: linear-gradient(90deg, #2a3176, #5563ff);
}
.show-all{
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(90deg, #3d4bf0, #5563ff);
  color: white;
  font-size: 15px;
  cursor: pointer;

}
.show-all:hover{
  
   background: linear-gradient(90deg, #2a3176, #5563ff);
}